.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(53, 53, 53);
  padding: 10px;
  border-radius: 5px;
}

.name {
  font-weight: 600;
}

.top-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.image {
  border-radius: 99px;
}

.content {
  margin-top: 10px;
  width: 100%;
  font-weight: 400;
}
